.index {
  display: flex;
  flex-direction: column;
  background: orange;

  & .page {
    display: flex;
    flex-direction: row;

    & .content {
      flex: 1 1 auto;
      margin: 10px;
    }
  }
}