.dashboard {
  background: #fff;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 20px 10px 0;
  width: 100%;

  & .header {
    color: #333;
    font: bold 42px / 1.2 "Montserrat", sans-serif;
    margin: 0 0 20px;
  }
}